// Start Menu wrapper
.menu-list {
  width: 29rem;

  // Menu item
  .menu-item {
    display: flex;
    align-items: center;

    white-space: nowrap;
    margin-left: 0;
    padding: 1rem 0.8rem 1rem 1.6rem;
    border-radius: 0;

    width: 100%;
    justify-content: flex-start;

    font-weight: 600;
    color: rgb(22, 24, 35);

    &.separate {
      border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
      background: rgba(22, 24, 35, 0.03);
    }
  }
}

// Start Menu popper
.menu-popper {
  padding-bottom: 8px;
}

// Start Header
.header {
  position: relative;
  height: 50px;
  top: -0.8rem;
}

.back-btn {
  width: 5rem;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
