.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;

  width: 100%;
  max-width: 100%;
  padding-left: 1.6rem;
  padding-right: 2.4rem;

  background-color: rgb(255, 255, 255);
}

.content {
  position: relative;

  display: flex;
  justify-content: center;

  min-width: 42rem;
  margin: 0px auto;

  -webkit-box-pack: center;

  flex: 1 1 auto;
}
