.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 100%;
  padding-left: 1.6rem;
  padding-right: 2.4rem;

  background-color: #ccc;
  height: 1000px;
}
