.wrapper {
  display: flex;
  align-items: center;

  cursor: pointer;
  padding: 0.9rem 1.6rem;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  object-fit: cover;

  margin-right: 1.4rem;
}

.info {
}

.name {
}

.check {
}

.username {
}
