.wrapper {
  display: flex;
  align-items: center;

  cursor: pointer;
  padding: 0.9rem 1.6rem;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  object-fit: cover;

  margin-right: 1.2rem;

  color: rgb(255, 255, 255);
}

.info {
  flex: 1 1 auto;
  min-width: 0px;
  width: 100%;
}

.name {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.check {
  margin-left: 0.8rem;
  color: rgb(32, 213, 255);
}

.username {
  font-size: 14px;
  line-height: 18px;
  color: rgba(22, 24, 35, 0.5);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
