.wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 10rem;

  padding: 0.7rem 0.8rem;

  border-radius: 0.4rem;
  border: none;

  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.1rem;

  user-select: none;
  cursor: pointer;
  background-color: transparent;

  + .wrapper {
    margin-left: 1.6rem;
  }
}

// Button types
.primary {
  margin-left: 1.6rem;

  color: var(--white);
  background-color: rgb(254, 44, 85);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
  }
}

.outline {
  border: 0.1rem solid rgb(254, 44, 85);
  border-radius: 4px;
  color: rgb(254, 44, 85);
  background-color: rgb(255, 255, 255);

  font-weight: 600;
}

.text {
  &:hover {
    text-decoration: underline;
  }
}

// Button sizes
.small {
  min-width: 10.6rem;
}

.large {
  min-width: 20.8rem;
  height: 4.8rem;
}
